.header {
  height: 3rem;
  background-color: var(--cornflower-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: white;
  font-size: 2.8rem;
}
