.input {
  min-height: 1.8rem;
  text-align: center;
  font-size: 1rem;
  background-color: var(--wip-offwhite-grey);
  border: 1px solid var(--wip-strong-grey);
  outline: none;
}

.input:focus {
  border: solid 1px var(--wip-strong-grey);
  outline: none;
}

::placeholder {
  font-style: italic;
}
