::-webkit-scrollbar {
  height: 10px;
  width: 10px;

  /* background: var(--wip-offwhite-grey); */
}

::-webkit-scrollbar-thumb {
  background: var(--wip-accent-grey);
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 1px var(--wip-accent-grey);
}

::-webkit-scrollbar-corner {
  background-color: var(--wip-accent-grey);
}

.table {
  width: 100%;
}

.thead {
  /* display: none; */
}

.tbody {
  max-height: 9rem;
  overflow-x: clip;
  overflow-y: auto;
  overflow: overlay;
  scrollbar-color: var(--wip-blue-grey);
  scrollbar-width: thin;
}

.th {
  font-size: 0.85rem;
  font-weight: 500;
  background-color: var(--wip-blue-grey);
  border: 1px solid var(--wip-accent-grey);
}

.row {
  height: fit-content;
}

.td {
  font-size: 0.79rem;
  font-weight: normal;
  border: 1px solid var(--wip-accent-grey);
}

.td,
.th {
  padding: 0.35rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
