:root {
  --card-border-radius: 10px;
}

.container {
  width: fit-content;
  background-color: white;
  border: 2px solid var(--wip-accent-grey);
  border-radius: var(--card-border-radius);
  box-shadow: 2px 2px 5px var(--wip-accent-grey);
  /* overflow: hidden; */
}

.title {
  font-size: 1rem;
  font-weight: bold;
  min-height: 2.2rem;
  background-color: var(--wip-smooth-blue);
  color: white;
  /* border-top-left-radius: var(--wip-border-radius);
  border-top-right-radius: var(--wip-border-radius); */
  display: flex;
  justify-content: center;
}

.title div {
  margin: auto 0;
}

.card-content {
  padding: 0.8rem;
  /* display: flex;
  flex-direction: column; */
}

.card-content div {
  /* flex-grow: 1; */
}
