:root {
  --card-border-radius: 10px;
}

.container {
  background-color: white;
  border: 1px solid var(--wip-accent-grey);
  border-radius: var(--card-border-radius);
  box-shadow: 1px 1px 12px var(--wip-blue-grey);
  box-shadow: -1px -1px 12px var(--wip-blue-grey);
}

.title {
  font-size: 1rem;
  font-weight: bold;
  min-height: 2.2rem;
  background-color: var(--wip-smooth-blue);
  color: white;
  border-top-left-radius: var(--card-border-radius);
  border-top-right-radius: var(--card-border-radius);
  display: flex;
  justify-content: center;
}

.title div {
  margin: auto 0;
}

.card-content {
  padding: 0.8rem;
}
