* {
  border-collapse: collapse;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --wip-pink: #fce6df;
  --wip-heavy-blue: #04347c;
  --wip-smooth-blue: #3462a7;
  --wip-bright-blue: #3a5d91;
  --wip-sky-blue: #d9eff9;
  --wip-offwhite-grey: #fafafa;
  --wip-blue-grey: #f4f5f7;
  --wip-accent-grey: #dfe1e6;
  --wip-highlight-grey: #ecedf0;
  --wip-strong-grey: #808080;
  --card-border-radius: 10px;

  --rgb-highlight-grey: 50, 50, 50;
  --rgb-offwhite-grey: 250, 250, 250;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  width: 17rem;
  min-height: 1.7rem;
  text-align: center;
  font-size: 0.85rem;
  background-color: var(--wip-offwhite-grey);
  border: 1px solid var(--wip-strong-grey);
  outline: none;
}
