.container {
  height: 100%;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: max-content 31rem;
  grid-template-rows: 4rem auto;
  gap: 1rem;
  justify-content: left;
  grid-template-areas:
    "work-filter work-filter"
    "service-list service-detail";
}
