.form {
  margin: 2rem 0.2rem;
}

.form label {
  width: 6.2rem;
  text-align: right;
}

.form input {
  width: 15rem;
}

.form .error input {
  background-color: mistyrose;
}

.actions {
  text-align: right;
  margin-top: 1.5rem;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #8a2b06;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}

.actions button.disabled {
  background-color: #aaa;
  border-color: darkgrey;
  color: #eee;
}

.actions .button--alt {
  color: #8a2b06;
}

.actions .button {
  background-color: #8a2b06;
  color: white;
}
