.header {
  grid-area: header;
  background-color: var(--wip-heavy-blue);
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 4.2rem;
}

.header div {
  margin: auto 0;
  font-weight: 600;
}

.header .title {
  font-size: 1.2rem;
  font-weight: 600;
}
