* {
    border-collapse: collapse;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: darkslategrey;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

main {
    width: 35rem;
    max-width: 90%;
    margin: 3rem auto;
}
