.navbar {
  grid-area: navbar;
  background-color: var(--wip-blue-grey);
  border-right: 1px solid var(--wip-accent-grey);
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 8rem;
}

.navbar ul {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: space-between;
}

.navbar li {
  min-height: 4rem;
  width: 100%;
  background-color: var(--wip-smooth-blue);
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar li div {
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
}
