.layout-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 12rem auto;
  grid-template-rows: 3rem auto 3rem;
  grid-template-areas:
    'header header'
    'navbar content'
    'footer footer';
}
