.container {
  grid-area: service-list;
  height: inherit;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.filter {
  flex-grow: 0;
  height: 2.5rem;
}

.filter input {
  width: 100%;
}
